@import "tailwindcss";

:root {
  --background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --card: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --primary: light-dark(oklch(0.205 0 0), oklch(0.922 0 0));
  --muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --border: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
}
